* {
  box-sizing: border-box;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  border-radius: 25px;
  width: 30%;
  margin: 10px;
  background-color: rgb(230, 230, 230);
}

.droppable-col {
  width: 90%;
  background-color: rgb(230, 230, 230);
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid white;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}

.item.dragging {
  background-color: coral;
}

.button {
  border-width: 0;
  font-size: 16px;
  border-radius: 4px;
  width: 150px;
  height: 30px;
  background-color: rgb(34, 147, 253);
  color: white;
  transition-duration: 0.4s;
}

.button:hover {
  
  background-color: #256bee; 
  color: white;

}